
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #26779E;
$secondary: #65A2B5;
$light: #D4C9BC;
$dark: #1A1C1B;

$success: #8FC1A9;
$danger: #A63D40;
$warning: #E2A76F;
$info: #9C8AA5;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


:root {

    --bs-link-hover-color-rgb: 101, 162, 181;

}

.fullscreen {
    height: 100vh;
}

.carousel-inner {
    max-width: 100%; /* Adjust this value to change the width of the carousel */
    margin: auto; /* This will center the carousel */
  }
  
  .carousel-item img {
    width: 80%;
    height: 400px; /* Adjust this value to change the height of the images */
    object-fit: cover; /* This will make all images have the same aspect ratio */
  }

  

  .custom-box {
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 10px; /* Rounded edges */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
}

.imprint-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.imprint-heading {
    font-size: 24px;
    font-weight: bold;
}

.imprint-box {
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 10px; /* Rounded edges */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px; /* Adjust the max-width to make the box narrower */
    margin: 0 auto; /* Center horizontally */
}